uWSGI==2.0.15
Flask==1.1.1
pybitcointools==1.1.15
bitcoin-python==0.3
psycopg2==2.7.3.2
requests==2.20.0
simplejson==3.13.2
redis==2.10.6
pyotp==2.2.6
pycryptodome==3.7.0
pyOpenSSL==18.0.0
simplekv==0.11.7
recaptcha-client==1.0.6
pycoin==0.80
#ecdsa==0.13.3
gevent==1.2.2
#Flask-SocketIO==4.2.1
tornado==5.1.1
PyYAML==5.4.1
